header{
    background-image: url(../../assets/images/home.webp) !important;
    background-size: cover;
    background-position: center center;
    margin-bottom: 30px;
    height: 75vh;
}
img{
    height: 200px;
    cursor: pointer;
}
.layer{
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
}
.container{
    z-index: 1000;
}

