<div class="container py-5 text-center">
    <div class="pt-5">
        <h2 class="fw-bolder">Lorem ipsum dolor sit.</h2>
        <p class="text-muted mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis enim amet perspiciatis
            dicta laudantium ab hic et corrupti tempore, nam in minima quaerat esse quasi eaque mollitia animi atque
            exercitationem? Consectetur ipsam voluptatem doloremque mollitia vel! Impedit quisquam minus dolore illo
            possimus dolorem ab ea perferendis quod maiores eveniet iure expedita obcaecati quas aspernatur rerum dicta
            voluptates eos, recusandae totam ipsum atque id commodi aperiam. Assumenda facilis sunt porro amet, laborum,
            explicabo provident, minus quod facere corrupti deleniti ipsam quos vero officiis eum. Similique quod sequi
            reprehenderit doloremque quia accusamus fuga deleniti deserunt. Non temporibus eos soluta distinctio
            officiis voluptates quibusdam molestias. Vero, dignissimos? Quos perferendis ipsum praesentium, iure a sit
            voluptates non ratione ipsa itaque provident molestias ad quae eveniet ex officia? Perspiciatis deleniti
            debitis natus. Unde nisi distinctio maiores, officia quibusdam accusamus delectus laboriosam illo
            repudiandae voluptatem officiis expedita nam dolore iure est dolores! Adipisci praesentium et ab ea id magni
            totam aut deleniti, dolores accusantium odit molestiae amet mollitia doloribus, voluptatem deserunt
            reiciendis. Animi eligendi earum explicabo excepturi expedita provident dolores error, maiores omnis, ullam
            ipsam amet sequi veritatis ratione doloribus magnam tempore velit recusandae eos reiciendis ducimus.
            Officiis facilis possimus, adipisci dolore dolorem accusamus error saepe.</p>
    </div>

</div>
<app-footer></app-footer>