

<nav class="navbar navbar-expand-lg navbar-dark   fixed-top px-5">
    <a routerLink="/home"  class="navbar-brand" >Movies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li *ngIf="isLogin" class="nav-item active">
          <a class="nav-link" routerLink="/home" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Home <span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="isLogin" class="nav-item"><a class="nav-link" routerLink="/about" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">About</a></li>
        <li *ngIf="isLogin" class="nav-item"><a class="nav-link" routerLink="/gallery" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Gallery</a></li>
        <li *ngIf="isLogin" class="nav-item"><a class="nav-link" routerLink="/movies" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Movies</a></li>
        <li *ngIf="isLogin" class="nav-item"><a class="nav-link" routerLink="/tv" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">TV</a></li>
        <li *ngIf="isLogin" class="nav-item"><a class="nav-link" routerLink="/contacts" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Contacts</a></li>
       
       
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="social-media  nav-item">
            <i class="fab p-2 fa-facebook"></i>
            <i class="fab p-2 fa-instagram"></i>
            <i class="fab p-2 fa-youtube"></i>
            <i class="fab p-2 fa-spotify"></i>
            <i class="fab p-2 fa-xbox"></i>
        </li>
        <li *ngIf="!isLogin" class="nav-item"><a  class="nav-link" routerLink="/login" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Login</a></li>
        <li *ngIf="!isLogin" class="nav-item"><a class="nav-link" routerLink="/register" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Register</a></li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Settings
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Log</a>
            <a class="dropdown-item" href="#">Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Profile</a>
          </div>
        </li>
        <li (click)="callLogOut()" *ngIf="isLogin" class="nav-item"><a class="nav-link" routerLink="/">LogOut</a></li>
    </ul>
    </div>
  </nav>